@using test.ViewModels.Categories
@model CategoryCreateVM
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="card mt-4 w-100" style="display:flex;align-items:center;">
        <h3 class="card-header">Create</h3>
        <div>
            <form asp-action="Create" method="post">
                <label asp-for=Name class="form-label">Category Name</label>
                <input asp-for=Name type="text" class="form-control" placeholder="add..." maxlength="120">
                <span class="text-danger" asp-validation-for="Name"></span>
                <button type="submit" class="btn btn-success mt-5">Submit</button>
                <a asp-action="Index" asp-controller="Category" class="btn btn-info mt-5">Cancel</a>
            </form>


        </div>
    </div>

</div>

